<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Entities1" connectionString="metadata=res://*/Models.ModelEntitie.csdl|res://*/Models.ModelEntitie.ssdl|res://*/Models.ModelEntitie.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=3.5.1.1:1521/FINA6I;user id=LICENCIASM;password=MUNICIPALES&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EntitieLocal" connectionString="metadata=res://*/Models.EntitiLocal.csdl|res://*/Models.EntitiLocal.ssdl|res://*/Models.EntitiLocal.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=localhost:1521/orcl.produccion.com;password=Litho123$;user id=LICENCIASBD&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="EntitieLocal" connectionString="metadata=res://*/Models.EntitiLocal.csdl|res://*/Models.EntitiLocal.ssdl|res://*/Models.EntitiLocal.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=3.5.1.1:1521/FINA6I;user id=LICENCIASM;password=MUNICIPALES&quot;" providerName="System.Data.EntityClient" />
    <add name="ConexCaja" connectionString="DATA SOURCE=3.5.1.1:1521/FINA6I;PERSIST SECURITY INFO=True;USER ID=LICENCIASM" providerName="System.Data.EntityClient" />
    <add name="DataPUE.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=3.5.1.1:1521/FINA6I;PERSIST SECURITY INFO=True;USER ID=LICENCIASM; PASSWORD=MUNICIPALES" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <clear />
    <!--<add key="NameDataCard" value="XPS Card Printer" />-->
    <add key="NameDataCard" value="XPS Card Printer" />
    <!--<add key="AfisUrl" value="C:\Program Files (x86)\Puebla_AFIS" />-->
    <!--Link LOCAL-->
    <add key="LinkPublish" value="http://10.169.3.26/panel/handlers/MobileHandler.aspx" />
    <!--<add key="LinkPublish" value="http://172.16.1.47:8080/TLXTest/panel/handlers/MobileHandler.aspx"/>-->
    <!--Link FWY-->
    <!--<add key="LinkPublish" value="http://pueblalic.fieldwy.net/panel/handlers/MobileHandler.aspx"/>-->
    <!--Link QA PUE-->
    <!--<add key="LinkPublish" value="http://172.17.200.129/QA/panel/handlers/MobileHandler.aspx"/>-->
    <!--Link PRODUCCION PUE-->
    <!--<add key="LinkPublish" value="http://localhost/prod/panel/handlers/MobileHandler.aspx"/>-->
    <add key="version" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMensajeria" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>