<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DataBCS.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=3.5.1.1:1521/FINA6I;PERSIST SECURITY INFO=True;USER ID=LICENCIASM; PASSWORD=MUNICIPALES" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="Entities1" connectionString="metadata=res://*/Models.ModelEntitie.csdl|res://*/Models.ModelEntitie.ssdl|res://*/Models.ModelEntitie.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=3.5.1.1:1521/FINA6I;user id=LICENCIASM;password=MUNICIPALES&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitieLocal" connectionString="metadata=res://*/Models.EntitiLocal.csdl|res://*/Models.EntitiLocal.ssdl|res://*/Models.EntitiLocal.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=3.5.1.1:1521/FINA6I;password=MUNICIPALES;persist security info=True;user id=LICENCIASM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <clear />
    <!--Link LOCAL-->
    <!--<add key="LinkPublish" value="http://localhost:18974/panel/handlers/MobileHandler.aspx"/>-->
    <!--Link FWY-->
    <!--<add key="LinkPublish" value="http://pueblalic.fieldwy.net/panel/handlers/MobileHandler.aspx"/>-->
    <!--Link QA PUE-->
    <!-- <add key="LinkPublish" value="http://172.17.200.129/QA/panel/handlers/MobileHandler.aspx"/> -->
    <!--Link PRODUCCION PUE-->
    <add key="LinkPublish" value="http://localhost/Prod/panel/handlers/MobileHandler.aspx" />
    <add key="version" value="10" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>